# .gitattributes
# default behavior, in case people don't have core.autocrlf set
* text=auto

# truly binary; should not be modified
*.png  binary
*.jpg  binary

# Treat all JSON as it would be JSONC
*.json linguist-language=JSON-with-Comments

# exlude from statistics
# foobar/*  linguist-vendored
